form {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: white;

  width: 100%;

  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

input {
  border: 1px solid lightgrey;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem;
}

form button {
  color: white;
  background-color: rgb(88, 153, 223);

  width: 30%;
  height: 2rem;

  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.error-message {
  color: red;
}
