* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  gap: 15px;
}

main {
  font-family: "Open Sans", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;

  -webkit-box-shadow: 0px 0px 15px 1px rgba(111, 111, 111, 0.71);
  box-shadow: 0px 0px 15px 1px rgba(111, 111, 111, 0.71);

  border: 1px solid lightgrey;
  border-radius: 7px;

  width: 70%;
}

footer {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-wrap: wrap;
}

.page-footer {
  font-family: "Roboto Slab", serif;

  width: 80%;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 400px;
}
img {
  width: 50%;
}

span {
  color: rgb(88, 153, 223);
}
